<div>
	<h1>Đây là trang gioi thieu</h1>
	<form action="">
		Ten<input type="text" ng-model="inputValue.ten">
		<p ng-if="kiemTraDuLieu.ten == true">Vui lòng nhập tên</p>
		Tuoi<input type="text" ng-model="inputValue.tuoi">
		<p ng-if="kiemTraDuLieu.tuoi == true">Vui lòng nhập tuổi</p>
		<button
				type="button"
				ng-click="onSubmitForm()"
		>Tạo mới</button>
	</form>
	<table border="1">
		<tr>
			<td>id</td>
			<td>ten</td>
			<td>tuoi</td>
		</tr>
		<tr ng-repeat="pt in posts">
			<td>{{ pt.id }}</td>
			<td>{{ pt.ten }}</td>
			<td>{{ pt.tuoi }}</td>
			<td>
				<button ng-click="onEdit(pt.id)"
				>Sua</button>
				<button ng-click="onDelete(pt.id)"
				>xóa</button>
			</td>

		</tr>
	</table>
</div>